<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
</head>
<body>
    <H1>Musicas Para Acalmar a Mente</H1><br><hr><br>
    <iframe width="944" height="531" src="https://www.youtube.com/embed/SWZvus6-6Yo" title="O efeito Mozart o torna mais inteligente | Música clássica para estudar concentração e poder cerebra" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <a href="{% url 'view1' %}"> Ir para Meu template </a>
    
</body>
</html>